.heading{
    width: 100%;
    text-align: left;
}
.heading h3{
    display: inline;
}
.heading button{
    float: right;
    border: 1px solid white;
}
.big_size{
    width: 100%;	
}
#start_game , #status{
    font-size: 22px;
}
h4{
    background-color: white;
    margin: 0px;
    line-height: 2;
}
.modal-dialog{
    width: 90%;
}
.instruction_image{
    display: inline-block;
    width: 45%;
}
video{
    background-position: center;
    background: url("game_console.png");
    padding: 25px;
    background-size: cover;
}